# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno
.env

# Base de datos local
*.db
*.sqlite3

# VS Code
.vscode/

# Archivos de pruebas
.pytest_cache/
.coverage
htmlcov/

# FastAPI
*.log